*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: aliceblue;
    color: black;
    line-height: 2.5rem;
}
header{
    background-color:black;
    color: beige;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav a{
    color: bisque;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
}
nav a:hover{
    text-decoration:underline;
}
footer{
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: relative;
    background-color: black;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
}
section{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    
}
.intro{
    text-align: center;
    padding: 60px 20px;
}
.intro h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color:rgb(31, 10, 150)
}
.intro p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:rgb(51, 20, 20)
}
/* section2- card */
.card{
    text-align: center;
    padding: 60px 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
}
.card h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(51, 20, 20);
}
.card p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}