*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: aliceblue;
    color: black;
    line-height: 2.5rem;
}
header{
    background-color:black;
    color: beige;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav a{
    color: bisque;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
}
nav a:hover{
    text-decoration: solid;
}