*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color:aliceblue;
    color: black;
    line-height: 2.5rem;
}
/* header */
header{
    background-color:black;
    color: beige;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav a{
    color: bisque;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
}
nav a:hover{
    text-decoration:underline;
}
/* footer */
footer{
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: relative;
    background-color: black;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
}
/* section1-Intro */
section{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    
}
.intro{
    text-align: center;
    padding: 60px 20px;
}
.intro h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color:rgb(31, 10, 150)
}
.intro p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:rgb(51, 20, 20)
}
/* section2- card */
.card{
    text-align: center;
    padding: 60px 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
}
.card h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(51, 20, 20);
}
.card p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}
/* section3- project */
.project-section .section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
    margin-top: 1.5rem;
}
.project-card{
    background-color: lightgray;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.project-card:hover{
    transform: translate(5px);
    box-shadow: 0 18px 30px black;
}
.project-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid black;
}
.project-content{
    padding: 1.25rem;
}
.project-title{
    color: rgb(51, 20, 20);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.project-des{
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 1rem;
}
.project-btn{
    display: inline-block;
    background-color: #0d0869;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease;
}
.project-btn:hover {
  background-color: #4338ca;
}
/* Section4-contact */
#Contact h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgb(51, 20, 20);
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
input, textarea{
    padding: 0.75rem 1rem;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
}
button{
    padding: 0.75rem 1rem;
    background-color: #0d0869;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #4338ca;
}
